name: My Java CI

on:
  push:
    branches:
    - master
    - feature/**
  pull_request:
    branches:
    - master

jobs:
  mybuild:
    name: my CI build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Make gradlew executable
      run: chmod +x gradlew

    - name: Setup Java
      uses: actions/setup-java@v4
      with: 
          distribution: 'temurin'
          java-version: '25'
          cache: 'gradle'
          
    -name: Checkstyle
      run: ./gradlew --no-daemon checkstyleMain

    -name: Tests
      run: ./gradlew --no-daemon test

    -name: JacocoTestReport
      run: run: ./gradlew --no-daemon jacocoTestReport

    -name: JacocoTestCoverage
      run: run: ./gradlew --no-daemon jacocoTestCoverageVerification

    -name: build
      run: run: ./gradlew --no-daemon build


